
$color_primary : rgb(255, 91, 82);
$color_background: whitesmoke;

@mixin estilos_boton {
    border-radius: 10px;
    cursor: pointer;
}

.app {
    margin: 0 auto;
    height: 100%;
    background-color: $color_background;
}

.page {
    display: flex;
    width: 100%;
}

.contenido {
    height: 89vh;
    overflow-y: scroll;
    padding: 0 10rem;
}

.contenido p:first-child {
    padding: 0 1rem;
}
