
@import './app.scss';

.dashboard {
    padding: 0 1rem;
    padding-bottom: 2rem;
}


.caja {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}