
@import './app.scss';

.form_general {
    margin: 0rem 20rem;
    width: 50%;
    height: 86vh;
}

.form_editar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form_editar input:not(:last-of-type), textarea{
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: 0.2px solid black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.form_textarea {
    height: 5rem;
}

.input_editar {
    padding: 0.8rem 1rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: $color_primary;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    @include estilos_boton;
}

.input_editar:hover {
    background: white;
    border: $color_primary 1px solid;
    color: $color_primary;
}
